body {
	font-family: 'Poppins';
	font-size: 22px;
}

.home-image {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
				url("images/christmas-dinner.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.home-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	color: white;
}

ul {
	list-style-type: none;
	text-align: center;
}

.nav-li {
	display: inline;
}

.nav-content {
	color: black;
	font-size: 14pt;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: #990000;
}

.recipeInput-image {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
				url("images/old-recipe-cards-main.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}


.recipeInput {
	background-color: rgba(216, 208, 202, 0.74);
	text-align: center;
	width: 50%;
	margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contactForm {
	background-color: rgba(216, 208, 202, 0.74);
	width: 20%;
	margin-left: 40%;
	padding: 20px;

}

.aboutInfo {
	background-color: rgba(216, 208, 202, 0.74);
	text-align: center;
	width: 75%;
	margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5px;
    padding-bottom: 15px;
}

.contactForm input {
  width: 100%;
  clear: both;
}

textarea {
	width: 100%;
}

.button {
	margin-left: 5px;
	font-family: 'Poppins';
	font-size: 20px;
	background-color: rgba(255, 255, 150, .5);
	border: none;
	width: 100%;
}

.button:hover {
	background-color: #A52A2A;
	transition-duration: 0.4s;
	color: white;
}

.search-results {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.267) ),
				url("images/cooking-college.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.resultsDiv {
	background-color: rgba(216, 208, 202, 0.74);
	text-align: center;
	width: 75%;
	margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5px;
    padding-bottom: 15px;
}
